doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chess Online
    link(rel='stylesheet', href='/libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/libs/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/underscore.min.js")
    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/socket.io-client/socket.io.js")
    script(src="/libs/notifyjs/notify.min.js")
    script(src="/libs/angular/angular.min.js")
    script(src="/libs/angular-route/angular-route.min.js")
    script(src="/js/modules/friends.js")
    script(src="/js/modules/sockets.js")
    script(src="/js/app.js")
    base(href='/')


  body(style="padding-top: 40px", ng-app="chessOnline")
    header
      .navbar-primary
        nav.navbar.navbar-inverse.navbar-fixed-top(style="border-radius: 0px")
          .container(style="margin:0; width: 100%")
            ul.nav.navbar-nav.navbar-right(style="margin-right:1em")
              li
                a#notifications-nav-btn(href="#")
                  span.fa.fa-bell.fa-lg(style="color: rgb(243, 43, 43); margin: 0; padding: 0")
                  span(style="margin-left: 0.4em; font-weight: bold") 4

              li
                a#messages-nav-btn(href="#")
                  span.fa.fa-comments.fa-lg(style="color: rgb(243, 43, 43); margin: 0; padding: 0")
                  span(style="margin-left: 0.4em; font-weight: bold") 6

              li
                a#friend-requests-nav-btn(href="#")
                  span.fa.fa-users.fa-lg(style="color: rgb(243, 43, 43); margin: 0; padding: 0")
                  span(style="margin-left: 0.4em; font-weight: bold") 1

              li
                a(href="/user/" + user.username)
                  span.fa.fa-user.fa-lg(style="margin: 0 0.3em 0 0; padding: 0")
                  | profile
              li
                a(href="/settings")
                  span.fa.fa-cog.fa-lg(style="margin: 0 0.3em 0 0; padding: 0")
                  | settings
              li
                a(href="/logout", target="_self")
                  span.fa.fa-sign-out.fa-lg(style="margin: 0 0.3em 0 0; padding: 0")
                  | log out


    .col-sm-3.col-md-2.sidebar(style="margin-left:0; padding-left:0; border-left: 12px solid #0a2832")
      center
        h5.sidebar-well-title.emboss-text GAMES
      .well.sidebar-well.pre-scrollable(style="max-height: 24%")
        ul.nav.nav-sidebar
          li
            a(href="/games/new")
              span.fa.fa-plus-circle.fa-lg(style="margin: 0 0.5em 0 0; padding: 0")
              | start new game


      center(style="margin-top: 1.2em")
        h5.sidebar-well-title.emboss-text FRIENDS

      .well.sidebar-well.pre-scrollable(style="max-height: 64%", ng-controller="NavSbFriendsCtrl")
        ul.nav.nav-sidebar
          li(ng-repeat="friend in friends.friends | orderObjectBy:'username'")
            a(href="/user/{{ friend.username }}")
              span.fa.fa-circle.fa(style="margin: 0 0.5em 0 0; padding: 0; color: rgb(38, 164, 75)", ng-if="friend.online")
              span.fa.fa-circle.fa(style="margin: 0 0.5em 0 0; padding: 0; color: rgb(176, 176, 176)", ng-if="!friend.online")
              | {{ friend.username }} 
              span(style="font-size: 80%; font-style: italic") ({{ friend.rank }})

          li
            a(href="/friends/add")
              span.fa.fa-plus-circle.fa-lg(style="margin: 0 0.5em 0 0; padding: 0")
              | add friends



    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2
      .ng-view