doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chess Online
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
    script(src="libs/jquery/dist/jquery.min.js")
    script(src="libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="libs/socket.io-client/socket.io.js")
    script(src="libs/notifyjs/notify.min.js")
    script(src="libs/angular/angular.min.js")

    block head

  body
    header
      nav.navbar.navbar-inverse
        .container
          .navbar-header
            a.navbar-brand Chess Online
          ul.nav.navbar-nav.navbar-right
            li
              a(href="#")
                i.fa.fa-home
                | Home
            li
              a(href="#")
                i.fa.fa-home
                | Home
            li
              a(href="#")
                i.fa.fa-home
                | Home

    block content