
.well
  input.input-medium.search(type="text", ng-model="keywords", placeholder="Search...", ng-model-options="{debounce: 500}")

  center
    h3.themed-text(ng-if="results.length === 0") Search for members by name or email
    
  div
    hr
    .search-result(ng-repeat="result in results | orderBy:'username'", ng-if="results.length > 0", style="position: relative", friend-list-item, username="result.username")

  center
    h4.themed-text(ng-if="results.length === 0 && keywords && !searching") No results... try a different keyword
    h4.themed-text(ng-if="results.length === 0 && keywords && searching") Searching...