doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Chess Online
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='libs/font-awesome/css/font-awesome.min.css')
    script(src="libs/jquery/dist/jquery.min.js")
    script(src="libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="libs/notifyjs/notify.min.js")

  body
    if error.length > 0
      script.
        $.notify("#{error}", {
          clickToHide: true,
          autoHide: false,
          className: 'error'
        });
    center
      .jumbotron
        h1 Chess Online
        p A simple web based multiplayer chess platform.

        form.form-inline(role="form", action="/login", method="post")
          input.form-control(required, type="text", name="username", placeholder="Enter username or email")
          input.form-control(required, type="password", name="password", placeholder="Enter password", style="margin-left: 0.5em")
          input.btn.btn-primary(type="submit", value="Login", style="margin-left: 0.5em")

    .signup_container.col-sm-8.col-md-6.center-block(style="float: none")
      form(role="form", action="/signup", method="post")
        .row
          .form-group.col-sm-6
            label(for="username") First name
            input.form-control(required, type="text", name="first_name", placeholder="Enter first name")
          .form-group.col-sm-6
            label(for="username") Last name
            input.form-control(required, type="text", name="last_name", placeholder="Enter last name")
        .row
          .form-group.col-sm-6
            label(for="username") Username
            input.form-control(required, type="text", name="username", placeholder="Enter username") 
          .form-group.col-sm-6
            label(for="username") Email
            input.form-control(required, type="text", name="email", placeholder="Enter email")
        .row
          .form-group.col-sm-6
            label(for="username") Password
            input.form-control(required, type="password", name="password", placeholder="Enter password")
          .form-group.col-sm-6
            label(for="username") Confirm password
            input.form-control(required, type="password", name="password_confirm", placeholder="Confirm password")
        input.btn.btn-primary(type="submit", value="Sign up!", style="display: block; width: 100%; background-color: rgb(22, 71, 101)")
          

    footer(style="margin-top: 5.8em; margin-bottom: 2em")
      center
        h4 Designed and implemented by 
          a(href="http://www.github.com/AhmedAKZM") Ahmed Mustafa

    style.
      .jumbotron {
        background-color: rgb(22, 71, 101);
        color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        background: rgb(69,72,77);
        background: -moz-linear-gradient(top,  rgb(22, 71, 101) 0%, rgba(10, 40, 50,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(22, 71, 101)), color-stop(100%,rgba(10, 40, 50,1)));
        background: -webkit-linear-gradient(top,  rgb(22, 71, 101) 0%,rgba(10, 40, 50,1) 100%);
        background: -o-linear-gradient(top,  rgb(22, 71, 101) 0%,rgba(10, 40, 50,1) 100%);
        background: -ms-linear-gradient(top,  rgb(22, 71, 101) 0%,rgba(10, 40, 50,1) 100%);
        background: linear-gradient(to bottom,  rgb(22, 71, 101) 0%,rgba(10, 40, 50,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
      }